.LoadingContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  background: url("../../Assets/strong3-1.svg") fixed center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Logo {
  width: 400px;
  height: 200px;
  margin-top: -50px;
}
