.containerCard {
  display: flex;
  width: 100%;
  background-color: aqua;
  background: url("../../../Assets/newBlack.svg") fixed center;
  background-size: cover;
  height: 104.9vh;
  align-items: center;
  justify-content: center;
}