.home_container {
  background: url("../../Assets/layered-waves-haikei (40).svg") fixed ;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 25px;
  width: 100%;
}

.Darkess {
  z-index: 0;
  position: absolute;
  left: 0px;
  width: 100%;
}

.Logo_In_Home {
  width: 200px;
  height: 100px;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: -50px;

}

@media screen and (max-width: 1300px){
  /* .home_container {
    flex-direction: column;
    height: auto;
  } */

  .Logo_In_Home {
    align-self: center;
    width: 250px;
    height: 125px;
    margin-bottom: -30px;
  }
}
