.home_container {
  /* background: url("../../Assets/blackBlob2.svg") fixed ; */
  background-color: rgba(33, 38, 48);
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100%;
}

.Darkess {
  z-index: 0;
  position: absolute;
  /* background-color: rgba(0,0,0,0.7); */
  height: 100vh;
  width: 100%;
}

@media screen and (max-width: 1300px){
  .home_container {
    flex-direction: column;
    height: 1920px;
  }

  .Darkess {
    height: 1920px;
  }
}
