.home_container {
  /* background: url("../../Assets/blackBlob2.svg") fixed ; */
  background-color: rgba(33, 38, 48);
  background-size: cover;
  display: flex;
  height: 100vh;
  width: 100%;
}

.Darkess {
  z-index: 0;
  position: absolute;
  /* background-color: rgba(0,0,0,0.7); */
  height: 100vh;
  width: 100%;
}

.Logo_In_Home {
  width: 200px;
  height: 100px;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: -50px;

}

@media screen and (max-width: 1300px){
  .home_container {
    flex-direction: column;
    height: auto;
  }

  .Darkess {
    height: auto;
  }

  .Logo_In_Home {
    align-self: center;
    width: 250px;
    height: 125px;
    margin-bottom: -30px;
  }
}
