.VideoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-right: 15px;
  flex-direction: column;
}

.Video_general_containet {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.Video {
  height: 550px;
  width: 100%;
  margin-top: 40px;
  border-radius: 6px;
}

.Video h1 {
  align-self: center;
  justify-self: center;
}