.auth_drawing_image {
  width: 86.4%;
  height: 600px;
  height: auto - 90px;
  background: url("../../../Assets/drawing/blueRose.jpg") ;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  justify-content: center;
}

.auth_drawing_image h1 {
  font-size: 34px;
  align-self: flex-start;
  color: #fff;
}

.message {
  color: #aaa;
  z-index: 99;
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.me_area {
  font-size: 14px;
  color: #aaa;
  z-index: 99;
  align-self: center;
}

.brightness {
  display: flex;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 500px;
  height: 600px;
}

.auth_drawing_image h1 {
  color: #fff;
  z-index: 99;
  align-self: flex-start;
}

.centralizeContent {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
}

.logo {
  width: 400px;
  height: 250px;
  z-index: 99;
  margin-left: -20px ;
}

@media screen and (max-width: 920px){  
  .auth_drawing_image {
    display: none;
  }
}
