.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

span {
  color: blue;
}

button {
  border: none;
}

th, td {
  color: aliceblue;
  padding: 3px;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: #35286b;
  font-size: 18px;
  border-radius: 6px;
}

@media screen and (max-width: 900px){
  thead {
    font-size: 16px;
  }
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: white;
}

input {
  border: none;
}

.LinksSideBar {
  margin-right: 30px;
}
