* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
::-webkit-scrollbar {
  width: 10px;
  z-index: 99;
}
input:focus, textarea:focus, select:focus{
  z-index: 99;
  outline: none;
}
::-webkit-scrollbar-track {
  z-index: 99;
  background: rgba(0,0,0,0.7);
}
::-webkit-scrollbar-thumb {
  z-index: 99;
  background: rgba(136, 136, 136, 0.306);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  z-index: 99;
  background: #555;
}
button, a {
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
